<style>
  .success-message{
   background:#FFFFFF;
  }
</style>
<div class="success-message">
    Success! Your account has been successfully created. Please verify your email id by clicking on the link in the mail that was sent to you.
</div>
